---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Royer Guerrero. Software Developer based in Latam"
  heading="Software Developer"
>
  <div
    class="bg-neutral-100 w-full h-3/4 border rounded-lg flex flex-col items-center justify-between"
  >
    <div class="p-4">
      <ul class="flex gap-4 text-neutral-400 text-xs">
        <li>EXPERIENCE</li>
        <li>STACK</li>
        <li>CURRICULUM</li>
      </ul>
    </div>
    <div
      class="bg-[url('https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?q=80&w=1312&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-cover bg-center w-full aspect-video rounded-[50%]"
    >
    </div>
    <div>
      <p
        class="text-center font-medium text-neutral-400 p-4 text-xs line-clamp-2"
      >
        I’M SOFTWARE DEVELOPER. I LIKE LEARN ABOUT STARTUPS AND INTERNET
        BUSINESS. ALSO SWMMING AND EXPLORE THE WORLD
      </p>
    </div>
  </div>
</Layout>
