---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Royer Guerrero. Software Developer based in Latam"
  heading="Pills"
>
  <div class="border p-4 w-full h-full rounded-lg flex flex-col justify-start gap-4">
    <ul class="flex gap-2 items-center m-auto uppercase">
        <li class="py-2 px-4 bg-neutral-950 text-neutral-50 rounded-md">UI Enginering</li>
        <li class="py-2 px-4 bg-neutral-100 rounded-md">Python Software Patterns</li>
    </ul>
    <div class="grid grid-cols-3 gap-2 overflow-y-auto">
        <div class="border rounded-md h-96"></div>
        <div class="border rounded-md h-96"></div>
        <div class="border rounded-md h-96"></div>
        <div class="border rounded-md h-96"></div>
        <div class="border rounded-md h-96"></div>
        <div class="border rounded-md h-96"></div>
        <div class="border rounded-md h-96"></div>
        <div class="border rounded-md h-96"></div>
        <div class="border rounded-md h-96"></div>
        <div class="border rounded-md h-96"></div>
        <div class="border rounded-md h-96"></div>
        <div class="border rounded-md h-96"></div>
    </div>
  </div>
</Layout>
